<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jonathan's 2017 Fantasy Football Site</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/blog.css') }}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="/ranks">Power Rankings</a>

        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Jonathan's League 2017</h1>
        <p class="lead blog-description">To combine my interest in Fantasy Football and web design, I've put together this simple blog to practice my bootstrap skills a little bit, as well as play with the python package <a href="https://github.com/rbarton65/espnff">ESPNFFL.</a> Hopefully things get prettier/more sophisticated as the season goes on.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Week 1</h2>
            <p class="blog-post-meta">Saturday, September 16 2017</p>

            <p>Facing the <a href ="http://media.phillyvoice.com/media/images/AP_966446643090.41ed6021.fill-735x490.jpg">juggernaut in pads twice the appropriate size,</a> Leah lost the Lacy/Gillislee coin flip, unfortunately starting the runningback on an offense that failed to generate a single touchdown. While Gillislee erupted on her bench, Lacy generated nearly enough yards to move a box of leftovers to my microwave. </p>
            <p>The Blair Walsh Project was the only engine operating for the Seahawks this weekend, but was not enough to propel Kevin to a victory over David and his shockingly low-scoring Patriots stack. Kevin's TE Hunter Henry was nowhere to be found, and information on his whereabouts should be brought to the proper authorities.</p>

            <p>Kate sent a clear message to the haters this week, defending her title with the now apparently elite Jaguars Defense all while boasting an impressive team logo created by <a href="https://www.linkedin.com/in/jonathan-shales-81090694/">a local graphic designer.</a> Connor's decision to grab Cameron Meredith in the 8th round is looking increasingly questionable.</p>
            
            <p>Adam won out over Maddie thanks to a stellar performance from both the Rams defense and his stolen quarterback, who I had a team name picked out for and everything. Maddie began a ride on the 'Odell is questionable to start' carousel, and it looks like this carnival ride is here to stay.</p>
            
            <p>James and Alli duked it out to the bitter end scoring what appears to have been a tie but a crunch of ESPN's rounding found just half a yard's worth of difference in QB passing yards, resulting in a heartbreaking loss for the Badger. Welcome to the league James.</p>
            
            <p>Speaking of welcoming new members to the league, Evelynn made her presence known with a bet on Andy Reid and the Chiefs. The world <a href="http://i.imgur.com/8GNteH5.gif">watched in awe</a> as Kareem Hunt and Tyreek Hill combined for over 66 fantasy points. Tommy "Points Against" Brockington's fantasy league curse continues as he coaches his New Orlean Saints style system of losing each matchup 48-51 in a flurry of points for no win. Thankfully, he will continue to participate in the league as if it were a game of Catan, trying to peddle his sheep to whoever will bite.</p>
            
            <p>I'm hoping to write one of these every week or so, usually closer to midweek. Thanks for playing in the league guys!</p>
          <hr>
          <div class="sidebar-module">
            <h4>You can also find me on <a href="https://github.com/jshales4">GitHub</a></h4>
  
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
